

h1 {
  font-family: "Lobster", cursive;
}

.img-thumbnail {
  border-radius: 0.5rem;
}

.card {
  border: none;
  border-radius: 1rem;
}

.card-body {
  padding: 1.25rem 1.25rem;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
